{{ define "main" }}
{{ range (slice "about.md" "video-and-slides.md" "pre-registration-event.md" "akademy-attendee-policy.md" "special-workshops-bofs-party-and-more.md" "registration-open-workshop-bof-sessions.md" "call-volunteers.md") }}
  {{ $page := site.GetPage . }}
  <h2>{{ $page.Title }}</h2>
  {{ $page.Summary | markdownify }}
  {{ if $page.Truncated }}
  <a href="{{ $page.RelPermalink }}" class="d-block mt-2">{{ i18n "read-more" }}</a>
  {{ end }}
{{ end }}
{{ end }}
