{{ define "main" }}
  <section class="section-blue" id="plasma">
    <div id="top-section" class="container text-center">
      <h1 id="plasma-title">{{ .Title }}</h1>
      <h2 class="mb-5">15th – 21st July 2023, Thessaloniki, Greece</h2>
      <img class="img-fluid" src="/media/2022/akademy2022-groupphoto-med.jpg" alt="Akademy participants" loading="lazy" width="3200" height="1080" />
    </div>
    <div class="container mt-5 h5">
      <p>
        Join us in Thessaloniki, a lively city of cultural heritage, vibrant festivals and delicious food. Like last year’s Akademy, you can join us either in person or online/virtually. 15th – 21st July 2023.
      </p>
      <a href="cfp" class="learn-more button mb-3">Call for Participation</a>
    </div>
  </section>

  <section>
    <div class="container text-left py-5">
      <div class="row">
        <div class="col-12 col-md-6">
          <h2 class="mt-0">About Thessaloniki</h2>
          <p>Thessaloniki was founded in 315 BC and has a population of over 800,000. It is Greece's second major economic, industrial, commercial and transportation hub. It is renowned for its rich history, festivals, and events, and is considered to be Greece's cultural capital.</p>
          <h2>About the University of Macedonia (UoM)</h2>
          <p>The University of Macedonia is a modern state university that provides education in a wide range of disciplinary fields. UoM’s Department of Applied Informatics makes software, especially free software, the main focus of a large part of the university's studies and research. The university is located only a short walk from the centre of the city, close to cafés, restaurants, and other historical and cultural spots.</p>
        </div>
        <div class="col-12 col-md-6">
          <img src="https://dot.kde.org/sites/dot.kde.org/files/anastasius-8DkDA67JAIs-unsplash_cropped_0.jpg" alt="Photo of Thessaloniki" class="img-fluid">
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container text-left py-5">
      <div class="row">
        <div class="col-12 col-md-6 order-md-1">
          <h2 class="mt-0">About Akademy and KDE</h2>
          <p>Akademy is the annual world summit of KDE, one of the largest Free Software communities in the world. It is a free, non-commercial event organized by the KDE Community.</p>
          <p>KDE is an international team cooperating on development and distribution of Free, Open Source Software for desktop and portable computing.</p>
          <p>Our community has developed a wide variety of applications for communication, work, education, and entertainment. We have a strong focus on finding innovative solutions to old and new problems, creating an energetic and open atmosphere for experimentation.</p>
          <p>The event will be held from 15th – 21st July 2023. We will have a welcome party for the evening before the talks start.</p>
        </div>
        <div class="col-12 col-md-6 order-md-0">
          <img src="/media/2022/akademy2022-groupphoto-med.jpg" alt="Akademy participants" class="img-fluid">
        </div>
      </div>
    </div>
  </section>

  <!-- section class="container text-center">
    <h1>Sponsors</h1>
    <p>By sponsoring this event, you will receive substantial exposure and reach top technical people from around the world.</p>
    <a href="/2023/sponsoring" class="learn-more">Learn more</a>
  </section -->

  <section class="container py-5">
    <div class="mailinglist">
      <img src="/resources/background-contact.jpg">
      <div class="mailinglist-text d-flex flex-row align-items-end">
        <div class="col-5">
          <h2>Stay up to date</h2>
          <p>Look out for upcoming news on how to register, participate, and attend. Keep up to date by following Akademy on Twitter and Mastodon, joining our attendees' mailing list and hanging out in our Matrix channel.<p>
          <p><a class="learn-more" href="https://mail.kde.org/mailman/listinfo/akademy-attendees">Mailing list</a></p>
          <p><a class="learn-more" href="https://matrix.to/#/#akademy:kde.org">Matrix channel</a></p>
         </div>
      </div>
    </div>
  </section>
{{ end }}
