{{/*
SPDX-FileCopyrightText: 2022 Phu Hung Nguyen <phu@kde.org>
SPDX-License-Identifier: LGPL-2.1-or-later
*/}}
<aside class="col-md-3" role="complementary">
  <div class="region region-sidebar-first well">
    <section id="block-block-7" class="my-3 card block block-block clearfix">
      <div class="card-body"> 
        <div align="center">
          <!-- images should be all 50px hight -->
        {{- $year := .Section }}
        {{- range (index .Site.Data $year).sponsors }}
          <h2 class="bg-secondary">{{ i18n (print "sponsors-" .type) (len .entities) }}</h2>
          {{- range .entities }}
          <p><a href="{{ printf "/%s/sponsors#%s" $year .id }}"><img src="{{ .img_src }}"></a></p>
          {{- end }}
        {{- end }}
          <p><a href="{{ printf "/%s/sponsors" $year }}">more...</a></p>
        </div>
      </div>
    </section>
  </div>
</aside>
