{{/*
SPDX-FileCopyrightText: 2022 Phu Hung Nguyen <phu@kde.org>
SPDX-License-Identifier: LGPL-2.1-or-later
*/}}
<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ if .IsPage }}{{ .Summary }}{{ else }}{{ .Site.Params.description }}{{ end }}{{ end }}">
{{- $title := .Title }}
{{- $siteTitle := .Site.Title }}
<title>{{ $title }} | {{ $siteTitle }}</title>

{{- with .OutputFormats.Get "RSS" }}<link href="{{ .RelPermalink }}" rel="alternate" type="application/rss+xml" title="{{ $title }} | {{ $siteTitle }}" />{{ end }}

{{- template "_internal/opengraph.html" . }}
{{- template "_internal/twitter_cards.html" . }}
